@model DigiTrade.Demo.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryCam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryCam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontCam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontCam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
